<footer>    
    <div class="i-info">
        <div class="i-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="i-info-brand">&copy; Airbnb Private Limited</div>
        <div class="i-lifo-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>