body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.listing-link{
    text-decoration: none;
}
/* Navbar */
.navbar{
    height: 5rem;
    background-color: white ;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.i-lifo-links a{
    text-decoration: none;
    color: #222222;
}

.i-lifo-links a:hover{
    text-decoration: underline;
}

.i-info-socials i {
    font-size: 1.3rem;
    margin: 1rem 0 0 1rem;
}

.i-info-socials, .i-lifo-links, .i-info-brand{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.i-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

/* card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

/* New Page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.add-btn:hover{
    background-color: #7f7676 !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn:hover{
    background-color: #7f7676 !important;
}

/* Show Page */
.show-image{
    height: 60vh;
    margin-bottom: 1rem;
}

.btns{
    display: flex;
}

.show-edit-btn{
    height: 2.35rem;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem; 
}

.show-head{
    margin-bottom: 1rem;
}

.title{
    font-size: 1.35rem;
}